.product {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

/* IMAGE */
.product__image {
    position: relative;
    width: 100%;
    height: 260px;
    background: #f3f3f3;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TAGS OVER IMAGE */
.product__tags {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 8px;
}

.product__tag {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

/* CONTENT */
.product__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* HEADER */
.product__content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.product__name {
    font-size: 15px;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0;
}

.product__price {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 15px;
    color: #1c1c1c;
}

.product__price img {
    width: 18px;
    height: 18px;
}

/* FOOTER */
.product__content_footer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #777;
}

.product__available,
.product__sales {
    margin: 0;
}

/* BUTTON */

.product__counter {
    display: grid;
    grid-template-columns: 1fr auto 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
/* 
.product__counter button {
    height: 40px;
    min-width: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
    cursor: pointer;
} */

.product__counter .product__count {
    min-width: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    height: 20px;
    line-height: 20px;
}

.product__counter .minus{
    height: 10px;
}

.product__counter .plus{
    height: 20px;
}
.product__cancel {
    margin-left: auto;
    padding: 0 12px;
    font-size: 14px;
    color: #ff5252;
    border-color: #ff5252;
    background-color: #fff;
    border: 1px solid #ff5252;
}