.button {
  all: unset;
  box-sizing: border-box;

  width: 100%;
  height: 45px;
  padding: 0 12px;

  background: #ffd54f;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transform: scale(1);
  transition:
    transform 120ms ease-out,
    background-color 120ms ease-out,
    opacity 120ms ease-out;
}

.button:hover {
  background: #ffca28;
}

.button:active {
  transform: scale(0.96);
  opacity: 0.9;
}

.button:focus,
.button:focus-visible {
    outline: none;
}

.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
