.content{
    padding-bottom: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.header__title{
    font-family: var(--gothic-font);
    font-size: 20px;
    text-transform: uppercase;
}

.header__balance {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__balance > span{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    height: 15px;
    font-family: var(--gothic-font);
}

.header__balance_info{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    height: 14px;
    font-family: var(--gothic-font);
}

.header__balance_info img {
    width: 18px;
    height: 18px;
}

.button{
    position: fixed;
    bottom: 10px;
    width: calc(100% - 40px);
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%);
}

/* .button{

} */